input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

input[type="button"] {
    max-width: 180px;
}

#logreg {
    max-width: 500px;
    margin: 0 auto;
}

#logreg>div:nth-child(1) {
    background-color: antiquewhite;
}

#logreg>div:nth-child(2) {
    background-color: rgb(205, 255, 238);
}